* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

@font-face {
  font-family: 'DIN Web Light';
  src: url('webfonts/DIN/DINWeb-Light.eot');
  src: url('webfonts/DIN/DINWeb-Light.eot?#iefix') format('embedded-opentype'), url('webfonts/DIN/DINWeb-Light.woff') format('woff'), url('webfonts/DIN/DINWeb-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DIN Web Medium';
  src: url('webfonts/DIN/DINWeb-Medium.eot');
  src: url('webfonts/DIN/DINWeb-Medium.eot?#iefix') format('embedded-opentype'), url('webfonts/DIN/DINWeb-Medium.woff') format('woff'), url('webfonts/DIN/DINWeb-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0 0 0.2em 0; }


h2 {
  margin: 0 0 24px 0;
  color: #000000; }

h3 {
  font-size: 13px;
  color: #5373F7; }

h4 {
  font-size: 12px; }

body {
  background-color: #f8f8f8;
  color: #2c2c2c;
  font-size: 12px;
  font-family: 'DIN Web Medium', sans-serif;
  font-weight: 400; }

.app .page-loader {
  position: absolute;
  left: 50%;
  top: 50%; }
  .app .page-loader i {
    position: relative;
    width: 100px;
    height: 100px;
    left: -50px;
    top: -50px; }

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }

a {
  color: #5373F7;
  text-decoration: none; }

li {
  list-style-type: none; }

main {
  z-index: 0;
  width: 100%; }

table {
  width: 100%;
  border-collapse: collapse; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

i {
  display: block; }

input:focus {
  outline: none; }

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  border: 7px solid #5373F7;
  border-radius: 100%;
  -webkit-appearance: none; }
  input[type="checkbox"]:checked {
    background-color: #5373F7; }

fieldset input[type="checkbox"] {
  float: left; }
fieldset label {
  font-size: 16px;
  line-height: 1.4em; }

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loader {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.loader {
  -webkit-animation: loader 2000ms linear infinite;
          animation: loader 2000ms linear infinite;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  fill: rgba(83, 115, 247, 0.8); }

.sub-section {
  margin: 0 0 64px 0; }

.btn {
  position: relative;
  height: 28px;
  margin: 0;
  padding: 0 20px;
  background-color: #E7564D;
  border: none;
  border-radius: 8px/20px;
  outline: none;
  overflow: visible;
  color: #FFFFFF; }
  .btn:disabled {
    background-color: #d0d0d0; }
  .btn i {
    width: 20px;
    fill: #5373F7; }
  .btn:after {
    left: auto;
    right: -6px; }
  .btn:hover {
    cursor: pointer; }
    .btn:hover i {
      fill: #FFFFFF; }

.close {
  position: absolute;
  top: -20px;
  right: -20px;
  border: none;
  padding: 6px 10px 7px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none; }

icon.blue {
  fill: #5373F7; }

icon.orange {
  fill: #E7564D; }

icon.grey {
  fill: #2c2c2c; }

form fieldset {
  border: none;
  margin: 0 0 10px 0; }
form input[type="text"] {
  padding: 10px 10px 10px;
  border: none;
  border-radius: 4px; }
form input[type="submit"], form button {
  outline: none; }
form .group input[type="text"] {
  border-radius: 20px/30px;
  display: block;
  float: left;
  padding: 5px 10px 5px;
  position: relative;
  background: white url('../svg/search.svg');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  width: 186px; }
form .group input[type="submit"], form .group button {
  display: block;
  float: left;
  border-radius: 0 4px 4px 0;
  background-color: #E7564D;
  color: #FFFFFF;
  line-height: 33px;
  padding: 0 20px; }

@-webkit-keyframes track-animation-add {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }

  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }

  100% {
    opacity: 1; } }

@keyframes track-animation-add {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }

  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }

  100% {
    opacity: 1; } }

.track-animation-add {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: track-animation-add 400ms linear both;
          animation: track-animation-add 400ms linear both; }

@-webkit-keyframes track-animation-remove {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); } }

@keyframes track-animation-remove {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); } }

.track-animation-remove {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: track-animation-remove 400ms cubic-bezier(0, 0.25, 0.75, 1);
          animation: track-animation-remove 400ms cubic-bezier(0, 0.25, 0.75, 1);
  -webkit-animation-delay: 0;
          animation-delay: 0; }

.tracks .track {
  padding: 6px 0 4px;
  overflow: hidden;
  border-bottom: 2px solid #2c2c2c; }
  .tracks .track:hover {
    background-color: #d0d0d0;
    color: #000000; }
    .tracks .track:hover button {
      visibility: visible; }
  .tracks .track.animation-remove {
    -webkit-animation: track-animation-remove 200ms linear;
            animation: track-animation-remove 200ms linear; }
  .tracks .track .track-details {
    padding-left: 12px;
    float: left;
    line-height: 22px; }
  .tracks .track .track-controls {
    float: right; }
  .tracks .track .track-control {
    width: 32px;
    float: left; }
  .tracks .track .track-duration {
    width: 36px;
    float: left; }
  .tracks .track button {
    margin: 0 12px 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
    visibility: hidden;
    fill: #5373F7; }
    .tracks .track button:before, .tracks .track button:after {
      display: none; }
    .tracks .track button:hover {
      background-color: transparent; }
      .tracks .track button:hover i {
        fill: #FFFFFF; }
    .tracks .track button i {
      width: 20px;
      height: 20px; }
  .tracks .track .coverart {
    display: block;
    margin: 0 10px 0 0;
    width: 40px;
    background-image: url(/img/album.png); }
  .tracks .track.track-animation-add:nth-child(1) {
    -webkit-animation-delay: 50ms;
            animation-delay: 50ms; }
  .tracks .track.track-animation-add:nth-child(2) {
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms; }
  .tracks .track.track-animation-add:nth-child(3) {
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms; }
  .tracks .track.track-animation-add:nth-child(4) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms; }
  .tracks .track.track-animation-add:nth-child(5) {
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms; }
  .tracks .track.track-animation-add:nth-child(6) {
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms; }
  .tracks .track.track-animation-add:nth-child(7) {
    -webkit-animation-delay: 350ms;
            animation-delay: 350ms; }
  .tracks .track.track-animation-add:nth-child(8) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms; }
  .tracks .track.track-animation-add:nth-child(9) {
    -webkit-animation-delay: 450ms;
            animation-delay: 450ms; }
  .tracks .track.track-animation-add:nth-child(10) {
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms; }
  .tracks .track.track-animation-add:nth-child(11) {
    -webkit-animation-delay: 550ms;
            animation-delay: 550ms; }
  .tracks .track.track-animation-add:nth-child(12) {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms; }
  .tracks .track.track-animation-add:nth-child(13) {
    -webkit-animation-delay: 650ms;
            animation-delay: 650ms; }
  .tracks .track.track-animation-add:nth-child(14) {
    -webkit-animation-delay: 700ms;
            animation-delay: 700ms; }
  .tracks .track.track-animation-add:nth-child(15) {
    -webkit-animation-delay: 750ms;
            animation-delay: 750ms; }
  .tracks .track.track-animation-add:nth-child(16) {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms; }
  .tracks .track.track-animation-add:nth-child(17) {
    -webkit-animation-delay: 850ms;
            animation-delay: 850ms; }
  .tracks .track.track-animation-add:nth-child(18) {
    -webkit-animation-delay: 900ms;
            animation-delay: 900ms; }
  .tracks .track.track-animation-add:nth-child(19) {
    -webkit-animation-delay: 950ms;
            animation-delay: 950ms; }
  .tracks .track.track-animation-add:nth-child(20) {
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms; }
  .tracks .track.track-animation-add:nth-child(21) {
    -webkit-animation-delay: 1050ms;
            animation-delay: 1050ms; }
  .tracks .track.track-animation-add:nth-child(22) {
    -webkit-animation-delay: 1100ms;
            animation-delay: 1100ms; }
  .tracks .track.track-animation-add:nth-child(23) {
    -webkit-animation-delay: 1150ms;
            animation-delay: 1150ms; }
  .tracks .track.track-animation-add:nth-child(24) {
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms; }
  .tracks .track.track-animation-add:nth-child(25) {
    -webkit-animation-delay: 1250ms;
            animation-delay: 1250ms; }
  .tracks .track.track-animation-add:nth-child(26) {
    -webkit-animation-delay: 1300ms;
            animation-delay: 1300ms; }
  .tracks .track.track-animation-add:nth-child(27) {
    -webkit-animation-delay: 1350ms;
            animation-delay: 1350ms; }
  .tracks .track.track-animation-add:nth-child(28) {
    -webkit-animation-delay: 1400ms;
            animation-delay: 1400ms; }
  .tracks .track.track-animation-add:nth-child(29) {
    -webkit-animation-delay: 1450ms;
            animation-delay: 1450ms; }
  .tracks .track.track-animation-add:nth-child(30) {
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms; }
  .tracks .track.track-animation-remove {
    -webkit-animation-delay: 0;
            animation-delay: 0; }

.page-header {
  position: relative;
  display: block;
  width: 100%;
  height: 98px;
  background-color: #2c2c2c;
  z-index: 1;
  /*.player{
		width: 40%;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		.title{
			font-size: 14px;
			color: white;
			text-align: center;
		}
		.progress-bar{
			width: 100%;
			height: 10px;
			margin: 0 auto;
			background: white;
			border-radius: 15px/20px;
			position: relative;
		}

		.track{
			animation: track 10s;
			-webkit-animation: track 10s linear;
			width: 0%;
			height: 4px;
			background: #e8564d;
			top: 3px;
			position: absolute;
		}

		.tracker{
			position: absolute;
			height: 16px;
			width: 16px;
			background: #e8564d;
			border-radius: 50%;
			top: -3px;
		}
	}*/ }
  .page-header form {
    float: right; }
  .page-header .user {
    position: absolute;
    top: 0;
    left: 72px;
    width: 30%;
    max-width: 358px;
    padding: 24px 0 0;
    overflow: hidden; }
    .page-header .user img {
      margin: 0;
      height: 50px;
      float: left;
      border: 2px solid #FFFFFF;
      border-radius: 2px; }
    .page-header .user a {
      display: block;
      float: left;
      line-height: 33px;
      margin: 0 0 0 10px; }
    .page-header .user button {
      margin: 9px 6px;
      padding: 0 8px;
      height: 28px;
      line-height: 28px;
      float: left;
      background-color: #2c2c2c;
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
      border-radius: 4px/14px;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      text-transform: uppercase; }

/*#sidebar{
	background: darken($darkgrey, 5%);
	float: left;
	width: 200px;
	height: 100%;

	li{
		font-size: 14px;
		text-indent: 30px;
		padding: 15px 0px;
		border-bottom: 1px solid darken($darkgrey, 5%);
	}

}*/
.login {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

nav {
  margin: 30px 0; }
  nav ul {
    text-align: center; }
  nav li {
    display: inline-block; }
  nav .btn {
    padding: 0 20px 0 60px;
    overflow: visible;
    background-color: transparent;
    color: #5373F7; }
    nav .btn:before, nav .btn:after {
      background-color: transparent; }
    nav .btn:hover, nav .btn.active {
      background-color: #E7564D;
      color: #FFFFFF; }
      nav .btn:hover:before, nav .btn:hover:after, nav .btn.active:before, nav .btn.active:after {
        background-color: #E7564D; }
      nav .btn:hover i, nav .btn.active i {
        fill: #FFFFFF; }
    nav .btn i {
      position: absolute;
      top: 6px;
      left: 18px;
      width: 16px; }

.module-player {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #FFFFFF;
  font-family: 'DIN Web Light', sans-serif;
  font-size: 14px; }
  .module-player .player-control {
    position: relative;
    width: 35%;
    margin: 0 auto;
    padding: 20px 0; }
  .module-player .playbar {
    position: relative;
    margin: 0 0 10px; }
  .module-player .player-info {
    margin: 0 0 10px;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; }
  .module-player .playbar-offset {
    position: relative;
    top: 0;
    margin: 0 44px; }
  .module-player input[type="range"] {
    width: 100%; }
  .module-player .track-time {
    position: absolute;
    left: 0;
    top: 0; }
    .module-player .track-time.total-time {
      text-align: right;
      right: 0; }
  .module-player .range-total {
    position: relative;
    width: 100%;
    height: 10px;
    background: #FFFFFF;
    border-radius: 5px; }
  .module-player .range-current {
    width: 0;
    height: 4px;
    background-color: #E7564D;
    position: absolute;
    top: 3px;
    left: 0;
    border-radius: 3px;
    pointer-events: none; }
  .module-player .range-control {
    position: relative;
    width: 0;
    height: 0;
    background-color: #000;
    position: absolute;
    top: 5px;
    left: 0;
    cursor: pointer; }
  .module-player .range-control:after {
    position: absolute;
    left: -9px;
    top: -9px;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #E7564D;
    border-radius: 100%;
    pointer-events: none; }

.module-playlists {
  overflow: hidden;
  /*transition: width 150ms cubic-bezier(0, 0, .75, 1);*/ }
  .module-playlists > .content {
    padding: 0 20px 62px;
    overflow: hidden; }
  .module-playlists .column {
    width: 50%;
    float: left; }
  .module-playlists .playlists {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .module-playlists .playlist {
    width: 110px;
    margin: 0 25px 20px 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    overflow: hidden; }
    .module-playlists .playlist .playlist-view {
      position: relative;
      margin: 0 0 20px 0;
      width: 110px;
      height: 110px;
      overflow: hidden;
      background-color: #5373F7;
      outline: none;
      cursor: pointer; }
      .module-playlists .playlist .playlist-view .cover-art {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      .module-playlists .playlist .playlist-view img {
        display: block;
        width: 50%;
        height: 50%;
        float: left; }
      .module-playlists .playlist .playlist-view i {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        display: none; }
      .module-playlists .playlist .playlist-view .icon {
        position: absolute;
        top: 30%;
        left: 30%;
        width: 40%;
        fill: #FFF; }
      .module-playlists .playlist .playlist-view:hover i {
        display: block; }
    .module-playlists .playlist.animation-remove {
      -webkit-animation: animation-remove 200ms ease-out;
              animation: animation-remove 200ms ease-out; }
  .module-playlists .details {
    float: left; }

.module-profile {
  position: relative; }
  .module-profile .profile-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 344px; }
  .module-profile .profile-image {
    margin: 0 0 18px; }
    .module-profile .profile-image img {
      display: block;
      width: 100%;
      max-width: 164px;
      margin: 0 auto; }
  .module-profile .profile-name {
    display: block;
    color: #5373F7;
    text-align: center;
    font-size: 16px; }
  .module-profile .profile-activity {
    width: 100%;
    padding: 0 0 0 344px; }

.module-queues {
  /*.track{
		border-bottom: 2px solid $darkgrey;

		td{
			padding: 6px 0 4px;
		}

		.track-details{
			padding-left: 12px;
		}

		button{
			visibility: hidden;
			margin: 0 12px 0 0;
			width: 20px;
			height: 20px;
		}

		&:hover{
			background-color: $orange;
			color: $white;

			button{
				visibility: visible;
			}
		}
	}*/ }
  .module-queues > .content {
    width: 100%;
    padding: 0 20px 62px;
    overflow: hidden; }
  .module-queues .column {
    width: 50%;
    float: left; }
  .module-queues .queues {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .module-queues .queue {
    width: 110px;
    margin: 0 25px 20px 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    overflow: hidden; }
  .module-queues .queue-view {
    position: relative;
    margin: 0 0 20px 0;
    width: 110px;
    height: 110px;
    overflow: hidden;
    background-color: #5373F7;
    outline: none;
    cursor: pointer; }
    .module-queues .queue-view .cover-art {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .module-queues .queue-view img {
      display: block;
      width: 50%;
      height: 50%;
      float: left; }
    .module-queues .queue-view i {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
      display: none; }
    .module-queues .queue-view .icon {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      fill: #FFF; }
    .module-queues .queue-view:hover i {
      display: block; }
  .module-queues td {
    padding: 0 0 10px 0; }

.module-quicksearch {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  max-width: 358px;
  padding: 22px 0 0;
  background: #2c2c2c;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; }
  .module-quicksearch fieldset {
    border: none;
    margin: 0 0 10px 0; }
  .module-quicksearch input[type="text"] {
    padding: 10px 10px 10px;
    border: none;
    border-radius: 4px; }
  .module-quicksearch input[type="text"] {
    display: block;
    position: relative;
    margin: 14px auto;
    padding: 5px 10px 5px;
    width: 58%;
    border-radius: 20px/30px;
    background: white url('../svg/search.svg');
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    outline: none; }
  .module-quicksearch input[type="submit"], .module-quicksearch button {
    margin: 7px 0;
    padding: 0 30px;
    display: block;
    background-color: #E7564D;
    color: #FFFFFF;
    line-height: 33px;
    outline: none; }
  .module-quicksearch.active:hover {
    -webkit-box-shadow: -4px -5px 5px 0 rgba(0, 0, 0, 0.75);
            box-shadow: -4px -5px 5px 0 rgba(0, 0, 0, 0.75); }
    .module-quicksearch.active:hover .search-dropdown {
      display: block; }

.search-dropdown {
  display: none;
  right: 0;
  z-index: 1; }
  .search-dropdown .service-icon {
    margin: 20px auto 14px;
    width: 32px; }
    .search-dropdown .service-icon img {
      display: block; }
  .search-dropdown .info {
    overflow: hidden; }
  .search-dropdown .artwork {
    margin: 0 20px 0 0;
    width: 35px;
    min-height: 1px;
    float: left; }
    .search-dropdown .artwork img {
      display: block;
      width: 100%; }
  .search-dropdown .icon {
    width: 36px;
    height: 36px;
    display: block;
    float: left;
    margin-right: 21px; }
    .search-dropdown .icon img {
      width: 100%; }
  .search-dropdown .song {
    float: left; }
  .search-dropdown .song-title {
    display: block;
    margin: 2px 0 0;
    font-size: 14px;
    font-weight: 700;
    color: white;
    line-height: 1em; }
  .search-dropdown .artist {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: white; }
  .search-dropdown .results {
    position: relative;
    margin: 0 0 20px 0; }
    .search-dropdown .results:first-of-type:after {
      display: block;
      width: 74%;
      height: 2px;
      margin: 0 auto;
      background-color: #d0d0d0;
      content: ''; }
  .search-dropdown ul {
    margin: 0 0 20px 0; }
  .search-dropdown li {
    padding: 10px 0;
    overflow: hidden; }
    .search-dropdown li > .content {
      width: 70%;
      margin: 0 auto; }
    .search-dropdown li h3, .search-dropdown li h4 {
      margin: 0;
      color: #FFFFFF; }
    .search-dropdown li h3 {
      font-weight: 700; }
    .search-dropdown li:hover {
      background-color: #f8f8f8; }
      .search-dropdown li:hover h3, .search-dropdown li:hover h4 {
        color: #000000; }
  .search-dropdown button {
    display: block;
    margin: 0 auto 32px;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #000000; }
    .search-dropdown button:before, .search-dropdown button:after {
      background-color: #FFFFFF; }
    .search-dropdown button:hover {
      background-color: #d0d0d0; }
      .search-dropdown button:hover:before, .search-dropdown button:hover:after {
        background-color: #d0d0d0; }

.module-search > header {
  margin: 0 auto 40px; }
.module-search .query {
  display: block;
  width: 454px;
  height: 33px;
  margin: 0 auto;
  padding: 0 26px;
  background-color: #2c2c2c;
  color: #FFF;
  border: none;
  border-radius: 12px/30px; }
.module-search [role="tabs"] a {
  width: 50%;
  text-align: center;
  background: #050505;
  color: #fff;
  display: inline-block;
  float: left;
  padding: 20px 0px; }
  .module-search [role="tabs"] a.is-active {
    background: #5373F7; }
.module-search .results li .track-details {
  list-style-type: none;
  padding: 10px 0px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.module-search img {
  width: 30px;
  height: 30px; }
.module-search .results {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

.search-service {
  position: relative;
  width: 50%;
  float: left;
  padding: 0 20px 0 60px;
  -webkit-transition: opacity 150ms linear;
          transition: opacity 150ms linear; }
  .search-service.initial {
    opacity: 0; }
  .search-service.searching .loader {
    display: block; }
  .search-service.searching table {
    opacity: 0.2; }
  .search-service .loader {
    display: none; }
  .search-service .loader {
    position: absolute;
    left: 50%;
    top: 50%; }
    .search-service .loader i {
      position: relative;
      width: 60px;
      height: 60px;
      left: -30px;
      top: -30px; }
  .search-service header {
    height: 100px;
    position: relative; }
    .search-service header i {
      margin: 0 auto;
      fill: #2c2c2c; }
      .search-service header i.spotify {
        width: 37px;
        height: 37px; }
      .search-service header i.soundcloud {
        width: 62px;
        height: 62px; }
  .search-service .tracks {
    position: relative;
    height: 0;
    margin-bottom: 20px;
    padding-right: 30px;
    overflow-y: scroll; }
  .search-service .track {
    height: 45px; }
  .search-service .track-details, .search-service .track-duration {
    line-height: 34px; }

.pagination {
  text-align: center;
  width: 100%; }
  .pagination li {
    display: inline-block; }

[data-service].loading {
  opacity: 0.2;
  pointer-events: none; }

[data-service] {
  opacity: 1;
  pointer-events: auto; }

/*Built by Gulp*/
.modal {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal label {
    display: block; }
  .modal input[type="text"] {
    display: block;
    width: 100%;
    border: 1px solid #ababab; }

.modal-offset {
  display: table-cell;
  vertical-align: middle; }

.modal-content {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #000000; }
  .modal-content p {
    margin-bottom: 32px; }

.modal-header, .modal-body {
  position: relative;
  margin-bottom: 22px; }
