* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0 0 0.2em 0; }


h2 {
  margin: 0 0 4px 0;
  color: #E7564D; }

h3 {
  font-size: 13px;
  color: #5373F7; }

h4 {
  font-size: 12px; }

body {
  background-color: #f8f8f8;
  color: #2c2c2c;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em; }

a {
  color: #5373F7;
  text-decoration: none; }

li {
  list-style-type: none; }

main {
  z-index: 0;
  width: 100%; }

table {
  width: 100%;
  border-collapse: collapse; }

button {
  background-color: transparent;
  border: none; }

.sub-section {
  margin: 0 0 64px 0; }

.btn {
  position: relative;
  margin: 0 6px;
  padding: 0;
  height: 33px;
  background-color: #E7564D;
  border: none;
  overflow: visible;
  outline: none;
  color: #FFFFFF;
  line-height: 33px;
  padding: 0 20px; }
  .btn i {
    display: block;
    width: 20px;
    fill: #5373F7; }
  .btn:before, .btn:after {
    position: absolute;
    left: -6px;
    top: 0px;
    width: 12px;
    height: 33px;
    content: '';
    background-color: #E7564D;
    border-radius: 100%; }
  .btn:after {
    left: auto;
    right: -6px; }
  .btn:hover {
    background-color: #5373F7;
    cursor: pointer; }
    .btn:hover:before, .btn:hover:after {
      background-color: #5373F7; }


.close {
  position: absolute;
  top: -20px;
  right: -20px;
  border: none;
  padding: 6px 10px 7px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none; }

icon.blue {
  fill: #5373F7; }

icon.orange {
  fill: #E7564D; }

icon.grey {
  fill: #2c2c2c; }

header {
  position: relative;
  display: block;
  width: 100%;
  height: 117px;
  padding: 33px 20px;
  background-color: #2c2c2c;
  z-index: 1;
  /*.player{
		width: 40%;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;

		.title{
			font-size: 14px;
			color: white;
			text-align: center;
		}

		.progress-bar{
			width: 100%;
			height: 10px;
			margin: 0 auto;
			background: white;
			border-radius: 15px/20px;
			position: relative;
		}

		.track{
			animation: track 10s;
			-webkit-animation: track 10s linear;
			width: 0%;
			height: 4px;
			background: #e8564d;
			top: 3px;
			position: absolute;
		}

		.tracker{
			position: absolute;
			height: 16px;
			width: 16px;
			background: #e8564d;
			border-radius: 50%;
			top: -3px;
		}
	}*/ }
  header form {
    float: right; }
  header .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    max-width: 358px;
    padding: 36px 0;
    overflow: hidden; }
    header .user img {
      margin: 0 10px 0;
      height: 50px;
      float: left;
      border: 2px solid #FFFFFF;
      border-radius: 2px; }
    header .user a {
      display: block;
      float: left;
      line-height: 33px;
      margin: 0 0 0 10px; }
    header .user button {
      margin: 9px 6px;
      padding: 0 2px;
      height: 28px;
      line-height: 28px;
      float: left;
      background-color: #2c2c2c;
      color: #FFFFFF;
      border-top: 2px solid #FFFFFF;
      border-bottom: 2px solid #FFFFFF;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      text-transform: uppercase; }
      header .user button:before, header .user button:after {
        top: -2px;
        height: 32px;
        background-color: transparent;
        z-index: -1;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 2px solid #FFFFFF; }
  header form {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    max-width: 358px;
    padding: 36px 0;
    background: #2c2c2c;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; }
    header form fieldset {
      border: none;
      margin: 0 0 10px 0; }
    header form input[type="text"] {
      padding: 10px 10px 10px;
      border: none;
      border-radius: 4px; }
    header form input[type="submit"], header form button {
      outline: none; }
    header form .group input[type="text"] {
      display: block;
      position: relative;
      margin: 14px auto;
      padding: 5px 10px 5px;
      width: 58%;
      border-radius: 20px/30px;
      background: white url('../svg/search.svg');
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-position: 90% 50%;
      outline: none; }
    header form .group input[type="submit"], header form .group button {
      margin: 7px 0;
      padding: 0 20px;
      display: block;
      border-radius: 0 4px 4px 0;
      background-color: #E7564D;
      color: #FFFFFF;
      line-height: 33px; }
    header form.active {
      -webkit-box-shadow: -4px -5px 5px 0 rgba(0, 0, 0, 0.75);
              box-shadow: -4px -5px 5px 0 rgba(0, 0, 0, 0.75); }
      header form.active .search-dropdown {
        display: block; }
  header .search-dropdown {
    display: none;
    right: 0;
    z-index: 1; }
    header .search-dropdown .spotify-icon {
      background: url(../svg/spotify.svg) no-repeat;
      width: 26px;
      height: 25px;
      margin: 8px auto; }
    header .search-dropdown .soundcloud-icon {
      background: url(../svg/soundcloud.svg) no-repeat;
      width: 41px;
      height: 18px;
      margin: 17px auto 8px; }
    header .search-dropdown .icon {
      width: 36px;
      height: 36px;
      display: block;
      float: left;
      margin-right: 21px; }
      header .search-dropdown .icon img {
        width: 100%; }
    header .search-dropdown .song {
      float: left; }
    header .search-dropdown .song-title {
      display: block;
      margin: 2px 0 0;
      font-size: 14px;
      font-weight: 700;
      color: white;
      line-height: 1em; }
    header .search-dropdown .artist {
      display: block;
      font-size: 14px;
      font-weight: 300;
      color: white; }
    header .search-dropdown ul {
      position: relative;
      margin: 20px 0 0;
      padding: 0 0 20px;
      list-style-type: none; }
      header .search-dropdown ul:first-of-type:after {
        content: '';
        height: 1px;
        width: 256px;
        background: #bababa;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto; }
      header .search-dropdown ul a {
        height: 58px;
        display: block;
        padding: 12px 64px; }
        header .search-dropdown ul a:hover {
          background: #d0d0d0;
          color: #d0d0d0; }
          header .search-dropdown ul a:hover .song-title, header .search-dropdown ul a:hover .artist {
            color: #2c2c2c; }
    header .search-dropdown button {
      display: block;
      margin: 0 auto;
      background-color: #FFFFFF;
      font-size: 14px;
      color: #000000; }
      header .search-dropdown button:before, header .search-dropdown button:after {
        background-color: #FFFFFF; }
      header .search-dropdown button:hover {
        background-color: #d0d0d0; }
        header .search-dropdown button:hover:before, header .search-dropdown button:hover:after {
          background-color: #d0d0d0; }

#sidebar {
  background: #1f1f1f;
  float: left;
  width: 200px;
  height: 100%; }
  #sidebar li {
    font-size: 14px;
    text-indent: 30px;
    padding: 15px 0px;
    border-bottom: 1px solid #1f1f1f; }

nav {
  margin: 30px 0; }
  nav ul {
    text-align: center; }
  nav li {
    display: inline-block; }
  nav .btn {
    padding: 8px 20px 8px 60px;
    overflow: visible;
    background-color: transparent;
    line-height: normal;
    color: #5373F7;
    /*&:before{
			display: block;
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			height: 300%;
			content: '';
			background-color: transparent;
			border-radius: 100%;
			z-index: -1;
		}

		&:after{
			display: none;
		}*/ }
    nav .btn:before, nav .btn:after {
      background-color: transparent; }
    nav .btn:hover {
      background-color: #E7564D;
      color: #FFFFFF; }
      nav .btn:hover:before, nav .btn:hover:after {
        background-color: #E7564D; }
      nav .btn:hover i {
        fill: #FFFFFF; }
    nav .btn i {
      position: absolute;
      top: 6px;
      left: 18px;
      width: 20px; }

.module-player {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  .module-player .player-control {
    width: 40%;
    margin: 0 auto;
    padding: 36px 0 0 62px; }
  .module-player input[type="range"] {
    width: 100%; }

.module-playlists {
  overflow: hidden;
  /*transition: width 150ms cubic-bezier(0, 0, .75, 1);*/ }
  .module-playlists > .content {
    padding: 0 20px 62px;
    overflow: hidden; }
  .module-playlists .column {
    width: 50%;
    float: left; }
  .module-playlists .playlists {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .module-playlists .playlist {
    width: 110px;
    margin: 0 25px 20px 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    overflow: hidden; }
    .module-playlists .playlist .playlist-view {
      position: relative;
      margin: 0 0 20px 0;
      width: 110px;
      height: 110px;
      overflow: hidden;
      background-color: #5373F7;
      outline: none;
      cursor: pointer; }
      .module-playlists .playlist .playlist-view .cover-art {
        display: block;
        position: absolute;
        left: 0;
        top: 0; }
      .module-playlists .playlist .playlist-view img {
        display: block;
        width: 50%;
        height: 50%;
        float: left; }
      .module-playlists .playlist .playlist-view i {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        display: none; }
      .module-playlists .playlist .playlist-view .icon {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        fill: #FFF; }
      .module-playlists .playlist .playlist-view:hover i {
        display: block; }
  .module-playlists .track {
    border-bottom: 2px solid #2c2c2c; }
    .module-playlists .track td {
      padding: 6px 0 4px; }
    .module-playlists .track .track-details {
      padding-left: 12px; }
    .module-playlists .track button {
      visibility: hidden;
      margin: 0 12px 0 0;
      padding: 0; }
      .module-playlists .track button:before, .module-playlists .track button:after {
        display: none; }
      .module-playlists .track button:hover {
        background-color: transparent; }
        .module-playlists .track button:hover i {
          fill: #FFFFFF; }
      .module-playlists .track button i {
        width: 20px;
        height: 20px; }
    .module-playlists .track:hover {
      background-color: #E7564D;
      color: #FFFFFF; }
      .module-playlists .track:hover button {
        visibility: visible; }
    .module-playlists .track .coverart {
      display: block;
      margin: 0 10px 0 0;
      width: 40px;
      background-image: url(/img/album.png); }
  .module-playlists .details {
    float: left; }

.module-profile {
  overflow: hidden; }
  .module-profile > .content {
    padding: 0 20px 62px;
    overflow: hidden; }
  .module-profile .column {
    width: 50%;
    float: left; }

.module-queues > .content {
  width: 100%;
  padding: 0 20px 62px;
  overflow: hidden; }
.module-queues .column {
  width: 50%;
  float: left; }
.module-queues .queues {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
.module-queues .queue {
  width: 110px;
  margin: 0 25px 20px 0;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto;
  overflow: hidden; }
.module-queues .queue-view {
  position: relative;
  margin: 0 0 20px 0;
  width: 110px;
  height: 110px;
  overflow: hidden;
  background-color: #5373F7;
  outline: none;
  cursor: pointer; }
  .module-queues .queue-view .cover-art {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .module-queues .queue-view img {
    display: block;
    width: 50%;
    height: 50%;
    float: left; }
  .module-queues .queue-view i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    display: none; }
  .module-queues .queue-view .icon {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    fill: #FFF; }
  .module-queues .queue-view:hover i {
    display: block; }
.module-queues .track {
  border-bottom: 2px solid #2c2c2c; }
  .module-queues .track td {
    padding: 6px 0 4px; }
  .module-queues .track .track-details {
    padding-left: 12px; }
  .module-queues .track button {
    visibility: hidden;
    margin: 0 12px 0 0; }
  .module-queues .track:hover {
    background-color: #E7564D;
    color: #FFFFFF; }
    .module-queues .track:hover button {
      visibility: visible; }
.module-queues td {
  padding: 0 0 10px 0; }

.quicksearch h3, .quicksearch h4 {
  color: #FFFFFF; }

#search label {
  display: none; }

.search-results [role="tabs"] a {
  width: 50%;
  text-align: center;
  background: #050505;
  color: #fff;
  display: inline-block;
  float: left;
  padding: 20px 0px; }
  .search-results [role="tabs"] a.is-active {
    background: #5373F7; }
.search-results .results li .track-details {
  list-style-type: none;
  padding: 10px 0px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.search-results img {
  width: 30px;
  height: 30px; }

.pagination {
  text-align: center;
  width: 100%; }
  .pagination li {
    display: inline-block; }

[data-service].loading {
  opacity: 0.2;
  pointer-events: none; }

[data-service] {
  opacity: 1;
  pointer-events: auto; }

.modal {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal label {
    display: block; }
  .modal input[type="text"] {
    display: block;
    width: 100%;
    border: 1px solid #ababab; }

.modal-offset {
  display: table-cell;
  vertical-align: middle; }

.modal-content {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #000000; }

.modal-header, .modal-body {
  position: relative; }
