<div class="content">
	<div class="left-column">
		<h2>Playlists</h2>
		<button id="playlist-create" class="btn orange">Create Playlist</button>
		<div id="playlists-user"></div>
		<div id="playlists-all"></div>
	</div>
	<div class="right-column">
		<div id="playlists-tracks"></div>
	</div>
</div>
<div id="playlist-modal-container" class=""></div>