<div class="coverart">
</div>
<div class="details">
	<h3>{{name}}</h3>
	<h4>{{description}}</h4>
	<button type="button" class="btn btn-secondary orange playlist-view">View Tracks</button>
	<button type="button" class="btn btn-secondary playlist-delete">Remove</button>
</div>