<td>
	<h4>{{track.name}}</h4>
	<h5 class="album">{{track.album.name}}</h5>
	{{#each track.artists}}
		<h6 class="artist">{{name}}</h6>
	{{/each}}
</td>
<td>
	<a href="#" class="add-to-queue">Add to queue</a>
</td>
<td>
	<a href="#" class="add-to-playlist">Add to playlist</a>
</td>
<td>
	<select></select>
</td>
<td>
	{{#sourceSpotify track.source_type}}
		<a href="#" title=""><img src="/img/spotify.png" alt="Spotify"></a>
	{{/sourceSpotify}}
	{{#sourceSoundcloud track.source_type}}
		<a href="#" title=""><img src="/img/soundcloud.png" alt="Spotify"></a>
	{{/sourceSoundcloud}}
</td>