<div class="content">
	<div class="column">
		<div id="playlists-controls" class="sub-section"></div>
		<div id="playlists-personal" class="sub-section"></div>
		<div id="playlists-public" class="sub-section"></div>
	</div>
	<div class="column">
		<div id="playlists-tracks"></div>
	</div>
</div>
<div id="playlist-modal-container" class=""></div>