<td>
	<h4>{{transform track.name}}</h4>
</td>
<td>
	<span class="album">{{track.album}}</span>
</td>
<td>
	{{#each track.artists}}
		<span class="artist"></span>
	{{/each}}
</td>
<td>
	<a href="#" class="add-to-queue">Add to queue</a>
</td>
<td>
	<a href="#" class="add-to-playlist">Add to playlist</a>
</td>
<td>
	<select></select>
</td>