<tr>	
<td>Track: {{track_name}}</td>
	<td>Artist: {{artists.[0]}}</td>
	<td>Source: {{source_type}}</td>
	<td><button class="up vote">+</button></td>
	<td><button class="down vote">-</button></td>
</tr>