<tr>	
	<td>Track: {{track_name}}</td>
	<td>Artist: {{artists.[0]}}</td>
	<td>Source: <img src="/img/{{source_type}}.png" /></td>
	<td>Up Vote<button class="up vote">+</button></td>
	<td>Down Vote<button class="down vote">-</button></td>
</tr>