/*body{
	background-color: $dark-green;
	color: $white;
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0.04em;
}

.app{
}

main{
	position: relative;
	z-index: 0;
}

.scaled-content{
	padding-left: 400px;
	overflow: hidden;

	> .content{
		width: 200%;
	}

}*/