body{
	background-color: $black;
	color: $white;
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0.04em;
}

a{
	color: #FFF;
	text-decoration: none;
}


li{
	list-style-type: none;
}

main{
	z-index: 0;
	width: 100%;
}

table{
	width: 100%;
}

button{
	background-color: transparent;
	border: none;
}

.btn{
	position: relative;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	overflow: hidden;
	outline: none;
	color: $blue;

	&:hover{
		color: $white;
		cursor: pointer;

		i{
			fill: $white;
		}
	}

	i{
		display: block;
		width: 20px;
		fill: $blue;
	}

}

.close{

	position: absolute;
	top: -20px;
	right: -20px;
	border: none;
	padding: 6px 10px 7px;
	background-color: rgba(0, 0, 0, 0);
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
}

icon.blue{
	fill: $blue;
}

icon.orange{
	fill: $orange;
}

icon.grey{
	fill: $grey;
}

form{

	fieldset{
		border: none;
		margin: 0 0 10px 0;
	}

	input[type="text"]{
		padding: 10px 10px 10px;
		border: none;
		border-radius: 4px;
	}

	input[type="submit"], button{
		outline: none;
	}

	.group{

		input[type="text"]{

			border-radius: 4px 0 0 4px;
			display: block;
			float: left;
		}

		input[type="submit"], button{
			display: block;
			float: left;
			border-radius: 0 4px 4px 0;
			background-color: $orange;
			color: $white;
			line-height: 33px;
			padding: 0 20px;
		}
	}
}


.app{
}