header{
	display: block;
	width:100%;
	padding: 20px;
	background-color: #000;
	z-index: 1;
	overflow: hidden;

	form{
		float: left;
	}

	.user{
		float: right;
		overflow: hidden;

		img{
			float: left;
		}

		a{
			display: block;
			float: left;
		}

		button{
			float: left;
		}
	}
}