header{
	display: block;
	width:100%;
	padding: 40px 0px;
	background-color: $purple;
	z-index: 1;

	#search-results{
		background: #000;
		max-height: 300px;
		overflow: scroll;
		width: 100%;
		padding: 20px 0px;
		li{
			
			border-bottom: 1px solid #333;
			img{
				padding-right: 10px;
				vertical-align: middle;
				opacity: 0.8;
			}
		}
	}

}