/*#sidebar{
	background: darken($darkgrey, 5%);
	float: left;
	width: 200px;
	height: 100%;

	li{
		font-size: 14px;
		text-indent: 30px;
		padding: 15px 0px;
		border-bottom: 1px solid darken($darkgrey, 5%);
	}

}*/

.login{

	position: absolute;
	left: 50%;
	top: 50%;

	text-align: center;

	transform: translate(-50%, -50%);
}
nav{
	margin: 30px 0;

	ul{
		text-align: center;
	}

	li{
		display: inline-block;

	}

	.btn{
		padding: 0 20px 0 60px;
		overflow: visible;
		background-color: transparent;
		color: $blue;

		&:before, &:after{
			background-color: transparent;
		}

		&:hover, &.active{
			background-color: $orange;
			color: $white;

			&:before, &:after{
				background-color: $orange;
			}

			i{
				fill: $white;
			}
		}

		i{
			position: absolute;
			top: 6px;
			left: 18px;
			width: 16px;
		}
	}
}
.module-player{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	color: $white;

	font-family: $fontlight;
	font-size: 14px;

	.player-control{
		position: relative;
		width: 35%;
		margin: 0 auto;
		padding: 20px 0;
	}

	.playbar{
		position: relative;
	}

	.player-info{
		font-weight: 300;
		text-align: center;
		word-wrap: nowrap;
	}

	.playbar-offset{
		margin: 0 44px;
	}

	input[type="range"]{
		width: 100%;
	}

	.track-time{
		position: absolute;
		left: 0;
		top: 10px;

		&.elapsed-time{

		}

		&.total-time{
			text-align: right;
			right: 0;
		}
	}
}
.module-playlists{
	overflow: hidden;

	> .content{
		padding: 0 20px 62px;
		overflow: hidden;
	}
	
	/*transition: width 150ms cubic-bezier(0, 0, .75, 1);*/

	.column{
		width: 50%;
		float: left;
	}

	.playlists{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: space-around;
		align-items: flex-start;
	}

	.playlist{
		width: 110px;
		margin: 0 25px 20px 0;
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		overflow: hidden;

		.playlist-view{
			position: relative;
			margin: 0 0 20px 0;
			width: 110px;
			height: 110px;
			overflow: hidden;
			background-color: $blue;
			outline: none;
			cursor: pointer;

			.cover-art{
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

			img{
				display: block;
				width: 50%;
				height: 50%;
				float: left;
			}

			i{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: block;
				background-color: rgba(0, 0, 0, 0.6);
				display: none;
			}

			.icon{

				position: absolute;
				top: 30%;
				left: 30%;
				width: 40%;
				fill: #FFF;
			}

			&:hover{

				i{
					display: block;
				}
			}
		}
	}

	.details{
		float: left;
	}
}

.module-profile{
	position: relative;

	.profile-info{
		position: absolute;
		left: 0;
		top: 0;
		width: 344px;
	}

	.profile-image{
		margin: 0 0 18px;

		img{
			display: block;
			width: 100%;
			max-width: 164px;
			margin: 0 auto;
		}
	}

	.profile-name{
		display: block;
		color: $blue;
		text-align: center;
		font-size: 16px;
	}

	.profile-activity{
		width: 100%;
		padding: 0 0 0 344px;
	}
}
.module-queues{

	> .content{
		width: 100%;
		padding: 0 20px 62px;
		overflow: hidden;
	}

	.column{
		width: 50%;
		float: left;
	}

	.queues{

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: space-around;
		align-items: flex-start;
	}

	.queue{
		width: 110px;
		margin: 0 25px 20px 0;
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		overflow: hidden;
	}

	.queue-view{
		position: relative;
		margin: 0 0 20px 0;
		width: 110px;
		height: 110px;
		overflow: hidden;
		background-color: $blue;
		outline: none;
		cursor: pointer;

		.cover-art{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		img{
			display: block;
			width: 50%;
			height: 50%;
			float: left;
		}

		i{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgba(0, 0, 0, 0.2);
			display: none;
		}

		.icon{

			position: absolute;
			top: 25%;
			left: 25%;
			width: 50%;
			fill: #FFF;
		}

		&:hover{

			i{
				display: block;
			}
		}
	}

	/*.track{
		border-bottom: 2px solid $darkgrey;

		td{
			padding: 6px 0 4px;
		}

		.track-details{
			padding-left: 12px;
		}

		button{
			visibility: hidden;
			margin: 0 12px 0 0;
			width: 20px;
			height: 20px;
		}

		&:hover{
			background-color: $orange;
			color: $white;

			button{
				visibility: visible;
			}
		}
	}*/


	td{
		padding: 0 0 10px 0;
	}
}
.module-quicksearch{

	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	max-width: 358px;
	padding: 22px 0 0;
	background: $darkgrey;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;

	fieldset{
		border: none;
		margin: 0 0 10px 0;
	}

	input[type="text"]{
		padding: 10px 10px 10px;
		border: none;
		border-radius: 4px;
	}

	input[type="text"]{
		display: block;
		position: relative;
		margin: 14px auto;
		padding: 5px 10px 5px;
		width: 58%;
		border-radius: 20px/30px;
		background: white url('../svg/search.svg');
		background-size: 14px 14px;
		background-repeat: no-repeat;
		background-position: 90% 50%;
		outline: none;
	}

	input[type="submit"], button{
		margin: 7px 0;
		padding: 0 30px;
		display: block;
		background-color: $orange;
		color: $white;
		line-height: 33px;
		outline: none;
	}

	&.active:hover{
		box-shadow: -4px -5px 5px 0 rgba(0, 0, 0, 0.75);

		.search-dropdown{
			display: block;
		}
	}
}

.search-dropdown{
	display: none;
	right: 0;
	z-index: 1;

	.service-icon{
		margin: 20px auto 14px;
		width: 32px;

		img{
			display: block;
		}
	}

	.info{
		overflow: hidden;
	}

	.artwork{
		margin: 0 20px 0 0;
		width: 35px;
		min-height: 1px;
		float: left;

		img{
			display: block;
			width: 100%;
		}
	}

	.icon{
		width: 36px;
		height: 36px;
		display: block;
		float: left;
		margin-right: 21px;

		img{
			width: 100%;
		}
	}

	.song{
		float: left;
	}

	.song-title{
		display: block;
		margin: 2px 0 0;
		font-size: 14px;
		font-weight: 700;
		color: white;
		line-height: 1em;
	}

	.artist{
		display: block;
		font-size: 14px;
		font-weight: 300;
		color: white;
	}

	.results{
		position: relative;
		margin: 0 0 20px 0;

		&:first-of-type{
			
			&:after{
				display: block;
				width: 74%;
				height: 2px;
				margin: 0 auto;
				background-color: $midgrey;
				content: '';
			}
		}
	}

	ul{
		margin: 0 0 20px 0;
	}

	li{
		padding: 10px 0;
		overflow: hidden;

		> .content{
			width: 70%;
			margin: 0 auto;
		}

		h3, h4{
			margin: 0;
			color: $white;
		}

		h3{
			font-weight: 700;
		}

		&:hover{
			background-color: $lightgrey;

			h3, h4{
				color: $black;
			}
		}
	}

	button{
		display: block;
		margin: 0 auto 32px;
		background-color: $white;
		font-size: 14px;
		color: $black;

		&:before, &:after{
			background-color: $white;
		}

		&:hover{
			background-color: $midgrey;

			&:before, &:after{
				background-color: $midgrey;
			}
		}
	}	
}

.module-search{

	> header{
		margin: 0 auto 40px;
	}

	.query{
		display: block;
		width: 454px;
		height: 33px;
		margin: 0 auto;
		padding: 0 26px;

		background-color: $darkgrey;
		color: #FFF;

		border: none;
		border-radius: 12px/30px;
	}

	[role="tabs"] a{
		width: 50%;
		text-align: center;
		background: lighten($black, 2%);
		color: #fff;
		display: inline-block;
		float: left;
		padding: 20px 0px;

		&.is-active{
			background: $blue
		}
	}

	.results li .track-details{
		list-style-type: none;
		padding: 10px 0px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img{
		width: 30px;
		height: 30px;
	}

	.results{
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;

		overflow: hidden;
	}
}

.search-service{
	position: relative;
	width: 50%;
	float: left;
	padding: 0 20px 0 60px;

	transition: opacity 150ms linear;


	&.initial{
		opacity: 0;
	}

	&.searching{

		.loader{
			display: block;
		}

		table{
			opacity: 0.2;
		}
	}

	.loader{
		display: none;
	}

	.loader{

		position: absolute;
		left: 50%;
		top: 50%;

		i{
			position: relative;
			width: 60px;
			height: 60px;
			left: -30px;
			top: -30px;
		}
	}

	header{
		height: 100px;
		position: relative;
		
		i{
			margin: 0 auto;
			fill: $darkgrey;


			&.spotify{
				width: 37px;
				height: 37px;

			}

			&.soundcloud{
				width: 62px;
				height: 62px;

			}
		}
	}

	.tracks{
		position: relative;
		height: 0;
		margin-bottom: 20px;
		padding-right: 30px;
		overflow-y: scroll;

		table{
			transition: opacity 150ms linear;
		}

	}
	
	.track{
		height: 45px;
	}
}


.pagination{
	text-align: center;
	width: 100%;

	li{
		display: inline-block;
	}
}

[data-service].loading{
	opacity: 0.2;
	pointer-events:none;
}

[data-service]{
	opacity: 1;
	pointer-events:auto;
}