#sidebar{
	background: darken($darkgrey, 5%);
	float: left;
	width: 200px;
	height: 100%;

	li{
		font-size: 14px;
		text-indent: 30px;
		padding: 15px 0px;
		border-bottom: 1px solid darken($darkgrey, 5%);
	}

}
nav{
	margin: 30px 0;

	ul{
		text-align: center;
	}

	li{
		display: inline-block;

	}

	.btn{
		padding: 8px 20px 8px 60px;
		overflow: visible;
		background-color: transparent;
		line-height: normal;
		color: $blue;

		&:before, &:after{
			background-color: transparent;
		}

		/*&:before{
			display: block;
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			height: 300%;
			content: '';
			background-color: transparent;
			border-radius: 100%;
			z-index: -1;
		}

		&:after{
			display: none;
		}*/

		&:hover{
			background-color: $orange;
			color: $white;

			&:before, &:after{
				background-color: $orange;
			}

			i{
				fill: $white;
			}
		}

		i{
			position: absolute;
			top: 6px;
			left: 18px;
			width: 20px;
		}
	}
}
.module-player{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;

	.player-control{
		width: 40%;
		margin: 0 auto;
		padding: 36px 0 0 62px;
	}

	input[type="range"]{
		width: 100%;
	}
}
.module-playlists{
	overflow: hidden;

	> .content{
		padding: 0 20px 62px;
		overflow: hidden;
	}
	
	/*transition: width 150ms cubic-bezier(0, 0, .75, 1);*/

	.column{
		width: 50%;
		float: left;
	}

	.playlists{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: space-around;
		align-items: flex-start;
	}

	.playlist{
		width: 110px;
		margin: 0 25px 20px 0;
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		overflow: hidden;

		.playlist-view{
			position: relative;
			margin: 0 0 20px 0;
			width: 110px;
			height: 110px;
			overflow: hidden;
			background-color: $blue;
			outline: none;
			cursor: pointer;

			.cover-art{
				display: block;
				position: absolute;
				left: 0;
				top: 0;
			}

			img{
				display: block;
				width: 50%;
				height: 50%;
				float: left;
			}

			i{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: block;
				background-color: rgba(0, 0, 0, 0.2);
				display: none;
			}

			.icon{

				position: absolute;
				top: 25%;
				left: 25%;
				width: 50%;
				fill: #FFF;
			}

			&:hover{

				i{
					display: block;
				}
			}
		}
	}

	.track{
		border-bottom: 2px solid $darkgrey;

		td{
			padding: 6px 0 4px;
		}

		.track-details{
			padding-left: 12px;
		}

		button{
			visibility: hidden;
			margin: 0 12px 0 0;
			padding: 0;

			&:before, &:after{
				display: none;
			}

			&:hover{
				background-color: transparent;

				i{
					fill: $white;
				}
			}

			i{
				width: 20px;
				height: 20px;
			}
		}

		&:hover{
			background-color: $orange;
			color: $white;

			button{
				visibility: visible;
			}
		}

		.coverart{
			display: block;
			margin: 0 10px 0 0;
			width: 40px;
			background-image: url(/img/album.png);
		}
	}

	.details{
		float: left;
	}
}

.module-profile{
	overflow: hidden;

	> .content{
		padding: 0 20px 62px;
		overflow: hidden;
	}

	.column{
		width: 50%;
		float: left;
	}
}
.module-queues{

	> .content{
		width: 100%;
		padding: 0 20px 62px;
		overflow: hidden;
	}

	.column{
		width: 50%;
		float: left;
	}

	.queues{

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: space-around;
		align-items: flex-start;
	}

	.queue{
		width: 110px;
		margin: 0 25px 20px 0;
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		overflow: hidden;
	}

	.queue-view{
		position: relative;
		margin: 0 0 20px 0;
		width: 110px;
		height: 110px;
		overflow: hidden;
		background-color: $blue;
		outline: none;
		cursor: pointer;

		.cover-art{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		img{
			display: block;
			width: 50%;
			height: 50%;
			float: left;
		}

		i{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgba(0, 0, 0, 0.2);
			display: none;
		}

		.icon{

			position: absolute;
			top: 25%;
			left: 25%;
			width: 50%;
			fill: #FFF;
		}

		&:hover{

			i{
				display: block;
			}
		}
	}

	.track{
		border-bottom: 2px solid $darkgrey;

		td{
			padding: 6px 0 4px;
		}

		.track-details{
			padding-left: 12px;
		}

		button{
			visibility: hidden;
			margin: 0 12px 0 0;
		}

		&:hover{
			background-color: $orange;
			color: $white;

			button{
				visibility: visible;
			}
		}
	}

	table{

	}

	tr{

	}

	td{
		padding: 0 0 10px 0;
	}
}
.quicksearch{
	
	h3, h4{
		color: $white;
	}
}
#search{

	label{
		display: none;
	}
}

.search-results{

	[role="tabs"] a{
		width: 50%;
		text-align: center;
		background: lighten($black, 2%);
		color: #fff;
		display: inline-block;
		float: left;
		padding: 20px 0px;

		&.is-active{
			background: $blue
		}
	}

	.results li .track-details{
		list-style-type: none;
		padding: 10px 0px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img{
		width: 30px;
		height: 30px;
	}
}

.pagination{
		text-align: center;
		width: 100%;

		li{
			display: inline-block;
		}
	}

[data-service].loading{
	opacity: 0.2;
	pointer-events:none;
}

[data-service]{
	opacity: 1;
	pointer-events:auto;
}

