.playlists{
	position: relative;
	width: 50%;
	float: left;
	z-index: 0;
	transition: width 150ms cubic-bezier(0, 0, .75, 1);

	&.contract{
		width: 25%;
	}

	> .content{
		padding: 0 20px 62px;
	}

	ul{
		list-style: none;
	}
}
.tracks{
	position: relative;
	width: 25%;
	float: left;
	z-index: 1;

	> .content{
		position: relative;
		padding: 0 20px 62px;
	}

	ul{
		list-style: none;
	}

	li{
		margin: 0 0 4px 0;

		.album, .artist{
			display: block;
			font-size: 12px;
		}
	}
}
#search{}

#search-results{
	position: absolute;
	height: 100%;
	width: 400px;
	right: 0;
	background: $purple;
	z-index: 1;
	color: #fff;
	overflow: scroll;
	padding: 10px;

	[role="tabs"] a{
		width: 50%;
		text-align: center;
		background: $purple;
		color: #fff;
		display: inline-block;
		float: left;
		padding: 10px 0px;

		&.active{
			background: $black;
		}
	}

	.results li .track-details{
		list-style-type: none;
		padding: 10px 0px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img{
		width: 30px;
		height: 30px;
	}

}

.pagination{
		text-align: center;
		width: 100%;

		li{
			display: inline-block;
		}
	}

[data-service].loading{
	opacity: 0.2;
	pointer-events:none;
}

[data-service]{
	opacity: 1;
	pointer-events:auto;
}


.queue{

	position: absolute;
	left: 0;
	top: 0;
	width: 400px;

	> .content{
		position: relative;
		padding: 0 20px 62px;
	}

	ul{
		list-style: none;
	}

	li{
		margin: 0 0 8px 0;
	}
}