.tracks{
	position: relative;
	width: 25%;
	float: left;
	z-index: 1;

	> .content{
		position: relative;
		padding: 0 20px 62px;
	}

	ul{
		list-style: none;
	}

	li{
		margin: 0 0 4px 0;

		.album, .artist{
			display: block;
			font-size: 12px;
		}
	}
}