/*header{
	display: block;
	width:100%;
	padding: 20px;
	background-color: #000;
	z-index: 1;

	#search-results{
		background: #000;
		max-height: 300px;
		overflow: scroll;
		width: 100%;
		padding: 20px 0px;
		li{
			
			border-bottom: 1px solid #333;
			img{
				padding-right: 10px;
				vertical-align: middle;
				opacity: 0.8;
			}
		}
	}

}*/

header{
	background: $purple;
}

aside{
	width: 20%;
	height: 100%;
	position: fixed;
	background: #fff;
	border-right: 1px solid #ddd;

	li.active{
		background: $purple;
	}
}

#main{
	width: 80%;
	position: relative;
	margin-left: 20%;
}