#sidebar{
	background: darken($grey, 5%);
	float: left;
	width: 200px;
	height: 100%;

	li{
		font-size: 14px;
		text-indent: 30px;
		padding: 15px 0px;
		border-bottom: 1px solid darken($grey, 5%);
	}

}