<header>
	<div id="search-form" class=""></div>
</header>
<div id="results" class="results">
	{{#each services}}
		<div id="{{this}}" class="search-service initial"></div>
	{{/each}}
</div>
<div id="search-modal-container"></div>