<div class="track-details">
	{{#if image_large}}
		<img src="{{image_large}}" />  
	{{else}}
		<img src="http://gallery.orchardproject.net/Themes/OrchardGallery/Content/Images/moduleDefaultIcon.png" /> 
	{{/if}}
		{{name}} by {{artists.[0].name}}
	
	</div>
	<td>
		<button type="button" class="btn orange add-to-queue">Add to queue</button>
	</td>
	<td>
		<button type="button" class="btn orange add-to-playlist">Add to playlist</button>
	</td>
</div>
