	<div class="track-details">
	{{#if image_large}}
		<img src="{{image_large}}" />  
	{{else}}
		<img src="http://gallery.orchardproject.net/Themes/OrchardGallery/Content/Images/moduleDefaultIcon.png" /> 
	{{/if}}
		{{name}} by {{artists.[0].name}}
	
	</div>

	<a role="add-to-queue" href="#">Add to Queue</a>
