<div class="player-info">
	{{playerText}}
</div>
<div class="playbar">
	
	<span class="track-time elapsed-time">{{elapsedTimeReadable}}</span>
	<div class="playbar-offset">
		<div class="">
			<div id="playbar"></div>
			<!-- <input type="range" is="rs-range" readonly value="0"> -->

		</div>
	</div>
	<span class="track-time total-time">{{totalTimeReadable}}</span>
</div>
<div class="player-queue-select"></div>