<h4>{{name}}</h4>
<span class="album">{{album}}</span>
{{#each artists}}
	<span class="artist"></span>
{{/each}}
<a href="{{add_to_queue}}" class="add-to-queue">Add to queue</a>
<a href="#" class="add-to-playlist">Add to playlist</a>
<select></select>