<h4>{{track_name}}</h4>
<span class="album">{{album_name}}</span>
{{#each artists}}
	<span class="artist"></span>
{{/each}}
<a href="#" class="add-to-queue">Add to queue</a>
<a href="#" class="add-to-playlist">Add to playlist</a>
<select></select>