<td>
	<h4>{{track_name}}</h4>
</td>
<td>
	<span class="album">{{album_name}}</span>
</td>
<td>
	{{#each artists}}
		<span class="artist"></span>
	{{/each}}
</td>
<td>
	<a href="#" class="add-to-queue">Add to queue</a>
</td>
<td>
	<a href="#" class="add-to-playlist">Add to playlist</a>
</td>
<td>
	<select></select>
</td>