<li><button class="btn queues" data-name="queues"><i>{{icon 'icon-queues'}}</i>Queues</button></li>
<li><button class="btn playlists" data-name="playlists"><i>{{icon 'icon-playlists'}}</i>Playlists</button></li>
<li><button class="btn profile" data-name="profile"><i>{{icon 'icon-profile'}}</i>Profile</button></li>
<li><button class="btn search" data-name="search"><i>{{icon 'icon-search'}}</i>Search</button></li>