<li><button class="btn" data-name='queues'><i>{{icon 'icon-queues'}}</i>Queues</button></li>
<li><button class="btn" data-name='playlists'><i>{{icon 'icon-playlists'}}</i>Playlists</button></li>
<li><button class="btn" data-name='profile'><i>{{icon 'icon-profile'}}</i>Profile</button></li>