.module-queues{

	> .content{
		width: 100%;
		overflow: hidden;
	}

	.column{
		width: 50%;
		float: left;
	}

	.queue{
		overflow: hidden;

		> .content{
			position: relative;
			width: 100%;
			padding: 0 20px;
		}

		ul{
			list-style: none;
		}

		li{
			margin: 0 0 8px 0;
		}

		.cover-art{
			display: block;
			margin: 0 10px 0 0;
			width: 40px;
		}

		table{

		}

		tr{

		}

		td{
			padding: 0 0 10px 0;
		}
	}
}