.queue{

	position: absolute;
	left: 0;
	top: 0;
	width: 400px;

	> .content{
		position: relative;
		padding: 0 20px 62px;
	}

	ul{
		list-style: none;
	}

	li{
		margin: 0 0 8px 0;
	}

	.cover-art{
		display: block;
		margin: 0 10px 0 0;
		width: 40px;
	}

	table{

	}

	tr{

	}

	td{
		padding: 0 0 10px 0;
	}
}