#search{

	label{
		display: none;
	}

}

.search-results{

	header{
		height: 100px;
		position: relative;
		
	}

	.query{
		display: block;
		width: 454px;
		height: 33px;
		margin: 0 auto;
		padding: 0 26px;

		background-color: $darkgrey;
		color: #FFF;

		border: none;
		border-radius: 12px/30px;
	}

	[role="tabs"] a{
		width: 50%;
		text-align: center;
		background: lighten($black, 2%);
		color: #fff;
		display: inline-block;
		float: left;
		padding: 20px 0px;

		&.is-active{
			background: $blue
		}
	}

	.results li .track-details{
		list-style-type: none;
		padding: 10px 0px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img{
		width: 30px;
		height: 30px;
	}

	.results{
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;

		overflow: hidden;
	}

	.search-service{
		width: 50%;
		float: left;

		i{
			margin: 0 auto;
			fill: $darkgrey;


			&.spotify{
				width: 37px;
				height: 37px;

			}

			&.soundcloud{
				width: 62px;
				height: 62px;

			}
		}
	}
}


.pagination{
	text-align: center;
	width: 100%;

	li{
		display: inline-block;
	}
}

[data-service].loading{
	opacity: 0.2;
	pointer-events:none;
}

[data-service]{
	opacity: 1;
	pointer-events:auto;
}

