
.module-search{

	> header{
		margin: 0 auto 40px;
	}

	.query{
		display: block;
		width: 454px;
		height: 33px;
		margin: 0 auto;
		padding: 0 26px;

		background-color: $darkgrey;
		color: #FFF;

		border: none;
		border-radius: 12px/30px;
	}

	[role="tabs"] a{
		width: 50%;
		text-align: center;
		background: lighten($black, 2%);
		color: #fff;
		display: inline-block;
		float: left;
		padding: 20px 0px;

		&.is-active{
			background: $blue
		}
	}

	.results li .track-details{
		list-style-type: none;
		padding: 10px 0px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img{
		width: 30px;
		height: 30px;
	}

	.results{
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;

		overflow: hidden;
	}
}

.search-service{
	position: relative;
	width: 50%;
	float: left;
	padding: 0 20px 0 60px;

	transition: opacity 150ms linear;


	&.initial{
		opacity: 0;
	}

	&.searching{

		.loader{
			display: block;
		}

		table{
			opacity: 0.2;
		}
	}

	.loader{
		display: none;
	}

	.loader{

		position: absolute;
		left: 50%;
		top: 50%;

		i{
			position: relative;
			width: 60px;
			height: 60px;
			left: -30px;
			top: -30px;
		}
	}

	header{
		height: 100px;
		position: relative;
		
		i{
			margin: 0 auto;
			fill: $darkgrey;


			&.spotify{
				width: 37px;
				height: 37px;

			}

			&.soundcloud{
				width: 62px;
				height: 62px;

			}
		}
	}

	.tracks{
		position: relative;
		height: 0;
		margin-bottom: 20px;
		padding-right: 30px;
		overflow-y: scroll;

	}
	
	.track{
		height: 45px;
	}

	.track-details, .track-duration{
		line-height: 34px;
	}
}


.pagination{
	text-align: center;
	width: 100%;

	li{
		display: inline-block;
	}
}

[data-service].loading{
	opacity: 0.2;
	pointer-events:none;
}

[data-service]{
	opacity: 1;
	pointer-events:auto;
}