#search{}

#search-results{
	position: absolute;
	width: 400px;
	right: 0;
	background: $purple;
	z-index: 1;
	color: #fff;
	overflow: scroll;

	[role="tabs"] a{
		width: 50%;
		text-align: center;
		background: $purple;
		color: #fff;
		display: inline-block;
		float: left;
		padding: 10px 0px;

		&.active{
			background: $black;
		}
	}

	.results li .track-details{
		list-style-type: none;
		padding: 10px 0px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img{
		width: 30px;
		height: 30px;
	}

}

.pagination{
		text-align: center;
		width: 100%;

		li{
			display: inline-block;
		}
	}

[data-service].loading{
	opacity: 0.2;
	pointer-events:none;
}

[data-service]{
	opacity: 1;
	pointer-events:auto;
}

