<header>
	<form id="search" method="GET" action="">
		<label>Search</label>
		<div class="group">
			<input class="search-field" type="text" name="query" placeholder="Search">
			<input type="submit" value="Search" class="btn orange">
		</div>
	</form>
	<div id="user" class="user"></div>
</header>

<section id="search-results" class="search-results"></section>

<aside id="sidebar">
	
	<ul>
		<li><a href="#" data-name='test'>Your Profile</a></li>
		<li><a href="#" data-name='queues'>Queues</a></li>
		<li><a href="#" data-name='playlists'>Playlists</a></li>
	</ul>

</aside>


<main></main>

<div id="modal-container"></div>
