<header>
	<form id="search" method="GET" action="">
		<label>Search</label>
		<input class="search-field" type="text" name="query" placeholder="Search">
		<input type="submit" value="Search">
	</form>
	<div id="user" class="user"></div>
</header>

<section id="search-results" class="search-results"></section>


<aside id="sidebar">
	
	<ul>
		<li><a href="#" data-name='test'>Your Profile</a></li>
		<li><a href="#" data-name='queues'>Queues</li>
		<li><a href="#" data-name='playlists'>Playlists</li>
		<!--<li><a href="#" data-name='tracks'>Tracks</a></li>
		<li><a href="#" data-name='search'>Search</a></li>-->
	</ul>

</aside>


<main></main>

<!--<main>

	<div class="scaled-content">
		<div class="content">
			
			<section id="tracks" class="tracks">
				<div class="content">
					<h2>Playlist</h2>
					<h3>tracks</h3>
					<table>
						<tbody></tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
</main>-->