<header>
	<div id="user" class="user"></div>
	<div id="player" class="module-player">
		<div id="player-control" class="player-control"></div>
	</div>
	
	<form id="search" method="GET" action="" class="module-quicksearch active">
		<!-- <label>Search</label>
		<div class="group">
			<input class="search-field" type="text" name="query" placeholder="Search">
		</div>
		<div class="search-dropdown">
			<div class="spotify-icon"></div>
			<ul>
				<li>
					<a href="">
						<span class="icon"><img src="img/album.png" alt=""></span>
						<span class="song">
							<span class="song-title">Dani California</span>
							<span class="artist">Red Hot Chili Peppers</span>
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon"><img src="img/album.png" alt=""></span>
						<span class="song">
							<span class="song-title">Dani California</span>
							<span class="artist">Red Hot Chili Peppers</span>
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon"><img src="img/album.png" alt=""></span>
						<span class="song">
							<span class="song-title">Dani California</span>
							<span class="artist">Red Hot Chili Peppers</span>
						</span>
					</a>
				</li>
			</ul>
			<div class="soundcloud-icon"></div>
			<ul>
				<li>
					<a href="">
						<span class="icon"><img src="img/album.png" alt=""></span>
						<span class="song">
							<span class="song-title">Dani California</span>
							<span class="artist">Red Hot Chili Peppers</span>
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon"><img src="img/album.png" alt=""></span>
						<span class="song">
							<span class="song-title">Dani California</span>
							<span class="artist">Red Hot Chili Peppers</span>
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon"><img src="img/album.png" alt=""></span>
						<span class="song">
							<span class="song-title">Dani California</span>
							<span class="artist">Red Hot Chili Peppers</span>
						</span>
					</a>
				</li>
			</ul>
			<button class="btn">+ Show All</button>
		</div> -->
	</form>
	
</header>

<div id="navigation">
	<nav>
	</nav>
</div>

<main></main>

<div id="modal-container"></div>
