<header>
	<div id="user" class="user"></div>
	<!--<div class="player">
		<div class="title">Death From Above 1979 - Trainwreck 1979 - The Physical World</div>
		<div class="track-current">00:40</div>
		<div class="progress-bar">
			<div class="track"></div>
			<div class="tracker"></div>
		</div>
		<div class="track-length">04:27</div>
	</div>-->
	<div id="player" class="module-player">
		<div id="player-control" class="player-control"></div>
	</div>
	
	<form id="search" method="GET" action="">
		<label>Search</label>
		<div class="group">
			<input class="search-field" type="text" name="query" placeholder="Search">
			<!--<input type="submit" value="Search" class="btn orange">-->
		</div>
	</form>
	<div class="search-dropdown">
		<div class="spotify-icon"></div>
		<ul>
			<li>
				<a href="">
					<span class="icon"><img src="img/album.png" alt=""></span>
					<span class="song">
						<span class="song-title">Dani California</span>
						<span class="artist">Red Hot Chili Peppers</span>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="icon"><img src="img/album.png" alt=""></span>
					<span class="song">
						<span class="song-title">Dani California</span>
						<span class="artist">Red Hot Chili Peppers</span>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="icon"><img src="img/album.png" alt=""></span>
					<span class="song">
						<span class="song-title">Dani California</span>
						<span class="artist">Red Hot Chili Peppers</span>
					</span>
				</a>
			</li>
		</ul>
		<div class="soundcloud-icon"></div>
		<ul>
			<li>
				<a href="">
					<span class="icon"><img src="img/album.png" alt=""></span>
					<span class="song">
						<span class="song-title">Dani California</span>
						<span class="artist">Red Hot Chili Peppers</span>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="icon"><img src="img/album.png" alt=""></span>
					<span class="song">
						<span class="song-title">Dani California</span>
						<span class="artist">Red Hot Chili Peppers</span>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span class="icon"><img src="img/album.png" alt=""></span>
					<span class="song">
						<span class="song-title">Dani California</span>
						<span class="artist">Red Hot Chili Peppers</span>
					</span>
				</a>
			</li>
		</ul>
	</div>
</header>

<div id="navigation">
	<nav>
	</nav>
</div>

<main></main>

<div id="modal-container"></div>
