<header>
	<div id="user" class="user"></div>
	<div id="player" class="module-player">
		<div id="player-control" class="player-control"></div>
	</div>
	
	<form id="search" method="GET" action="" class="module-quicksearch"></form>
	
</header>

<div id="navigation">
	<nav></nav>
</div>

<main></main>

<div id="modal-container"></div>
