<tr>

<td>{{name}}</td>
<td><span class="album">{{album}}</span></td>
<td>{{#each artists}}
	<span class="artist"></span>
{{/each}}</td>
<td><a href="{{add_to_queue}}" class="add-to-queue">Add to queue</a></td>
<td><a href="#" class="add-to-playlist">Add to playlist</a></td>
<td><select></select></td>

</tr>