<td>
	<h4>Track: {{track.name}}</h4>
	<h5>Album: {{track.album.name}}</h5>
	{{#if artists}}
	<h6>Artist: {{artists.[0]}}</h6>
	{{/if}}
</td>
<td>
	<p>Source: {{track.source_type}}</p>
</td>
<td>
	<button class="delete">Remove</button>
</td>
<!-- <td> -->
	<!-- <button class="up vote">+</button> -->
<!-- </td> -->
<!-- <td> -->
	<!-- <button class="down vote">-</button> -->
<!-- </td> -->