<td class="track-details">
	<span title="{{title}}">{{titleTruncated}}</span>
</td>
<td class="track-control">
	<button type="button" class="remove-from-queue" title="Remove track from playlists"><i>{{icon 'icon-trash'}}</i></button>
</td>