<td>
	<h3>Track: {{track.name}}</h3>
	<h4>Album: {{track.album.name}}
	{{#if artists}}
	<h4>Artist: {{artists.[0]}}</h4>
	{{/if}}
</td>
<td>
	<p>Source: {{track.source_type}}</p>
</td>
<td>
	<button class="delete">Remove</button>
</td>
<!-- <td> -->
	<!-- <button class="up vote">+</button> -->
<!-- </td> -->
<!-- <td> -->
	<!-- <button class="down vote">-</button> -->
<!-- </td> -->