<td class="track-details">
	<h4>{{track.name}}</h4>
	<h5>{{track.album.name}}</h5>
	{{#if track.artists}}
		<h6>{{track.artists.[0].name}}</h6>
	{{/if}}
</td>
<td>
	<button type="button" class="remove-from-queue" title="Remove track from playlists"><i>{{icon 'icon-trash'}}</i></button>
</td>