<div class="track-details">
	<span title="{{title}}">{{titleTruncated}}</span>
</div>
<div class="track-controls">
	<div class="track-control">
		<button type="button" class="remove-from-queue" title="Remove track from playlists"><i>{{icon 'icon-trash'}}</i></button>
	</div>
</div>