<td>
	<h4>Track: {{track.name}}</h4>
	<h5>Album: {{track.album.name}}</h5>
	{{#if artists}}
	<h6>Artist: {{artists.[0]}}</h6>
	{{/if}}
</td>
<td>
	<button class="delete">Remove</button>
</td>
<td>
	{{#sourceSpotify track.source_type}}
		<a href="#" title=""><img src="/img/spotify.png" alt="Spotify"></a>
	{{/sourceSpotify}}
	{{#sourceSoundcloud track.source_type}}
		<a href="#" title=""><img src="/img/soundcloud.png" alt="Spotify"></a>
	{{/sourceSoundcloud}}
</td>
<!-- <td> -->
	<!-- <button class="up vote">+</button> -->
	<!-- <button class="down vote">-</button> -->
<!-- </td> -->