<td>
	<h4>{{track.name}}</h4>
	<h5>{{track.album.name}}</h5>
	{{#if track.artists}}
		<h6>{{track.artists.[0].name}}</h6>
	{{/if}}
</td>
<td>
	<button class="delete">Remove</button>
</td>
<td>
	{{#sourceSpotify track.source_type}}
		<a href="#" title=""><img src="/img/spotify.png" alt="Spotify"></a>
	{{/sourceSpotify}}
	{{#sourceSoundcloud track.source_type}}
		<a href="#" title=""><img src="/img/soundcloud.png" alt="Spotify"></a>
	{{/sourceSoundcloud}}
</td>
<!-- <td> -->
	<!-- <button class="up vote">+</button> -->
	<!-- <button class="down vote">-</button> -->
<!-- </td> -->